{% extends "layout.html" %}
{% load static %}
{% block head %}

<!-- CSS -->
<style>
    .video-size {
        width: 500px;
    }

    @media screen and (max-width: 600px) {
        .video-size {
            width: 100%;
        }
    }

    .label-word {
        text-align: justify;
        border: 1px solid black;
        border-radius: 15px;
        display: inline-block;
        padding: 6px;
        margin: 5px;
    }

    .item-label {
        font-size: 16px;
    }
</style>

{% endblock %}
{% block main %}

<h1 class="app-page-title">Detalle de la Noticia</h1>
<hr class="mb-4">
<div class="row g-4 settings-section">
    <div class="col-12 col-md-4">
        <!-- <h3 class="section-title">General</h3> -->
        <div class="section-intro">
            Resultado de la noticia.
            <div class="row" style="text-align: center;">

                <div class="col-12 col-lg-12" style="margin-top: 15px;">
                    <div class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm">
                        <div style="text-align: center;">
                            <img style="width: 80%;" src="{% static 'images/step_three.png' %}" alt="">
                        </div>
                        <div style="margin: 30px;">
                            <label for="">
                                <b>Espera los Resultados: </b>Después de un breve proceso de análisis, 
                                espera a que la aplicación te muestre los resultados, que pueden 
                                incluir información sobre la veracidad de la noticia, su categoría, 
                                el tono del contenido y cualquier detalle importante detectado en 
                                el audio o video, si se proporcionaron.
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-8">
        <div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
            <div class="app-card-header p-3 border-bottom-0">
                <div class="row align-items-center gx-3">
                    <div class="col-auto">

                            {% if new.status != 0 %}
                                {% if new.percentage == 0 %}
                                    <div class="app-icon-holder" style="color: red; background: #fdeded;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-exclamation" viewBox="0 0 16 16">
                                            <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                                            <path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
                                        </svg>
                                    </div><!--//icon-holder-->
                                {% else %}
                                    <div class="app-icon-holder">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-check" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z" />
                                            <path fill-rule="evenodd"
                                                d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                        </svg>
                                    </div><!--//icon-holder-->
                                {% endif %}
                            {% else %}
                                <div class="app-icon-holder">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield" viewBox="0 0 16 16">
                                        <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                                    </svg>
                                </div><!--//icon-holder-->
                            {% endif %}
                    </div><!--//col-->
                    <div class="col-auto">
                        <h4 class="app-card-title">{{ new.title }}</h4>
                    </div><!--//col-->
                    <div class="col-auto">
                        {% if new.status != 0 %}
                            {% if new.percentage == 0 %}
                                <span style="font-size: 18px;" class="badge bg-danger">Puede ser falsa</span>
                            {% else %}
                                <span style="font-size: 18px;" class="badge bg-success">Tiende a verdadera</span>
                            {% endif %}
                        {% else %}
                            <span class="badge bg-warning">Pendiente</span>
                        {% endif %}
                    </div>
                </div><!--//row-->
            </div><!--//app-card-header-->
            <div class="app-card-body px-4 w-100">
                {% if new.status == 0 %}
                    <h6>Esperando análisis de video:</h6>
                    <div id="progress"></div>
                {% endif %}
                {% for content in contents %}
                <div class="item border-bottom py-3">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto" style="text-align: center; width: 100%;">
                        {% if content.media_name == 'text' %}
                            <div class="row">
                                <div class="col-12 col-lg-2">
                                    <div class="item-label"><strong>Texto:</strong></div>
                                </div>
                                <div class="col-12 col-lg-10">
                                    <label class="label-word" style="padding: 15px;">{{ content.data }}</label>
                                </div>
                            </div>
                        {% elif content.media_name == 'audio' %}
                            <div class="row">
                                <div class="col-12 col-lg-5">
                                    <div class="item-label"><strong>Audio:</strong></div>
                                    <hr class="mb-4">
                                    <audio controls>
                                        <source src="/upload/{{ content.file_path }}" type="audio/mpeg">
                                    </audio>
                                </div>
                                <div class="col-12 col-lg-7">
                                    <div class="item-label"><strong>Transcripción<nav></nav></strong></div>
                                    <label class="label-word" style="padding: 15px;">{{ content.data }}</label>
                                </div>
                            </div>
                        {% elif content.media_name == 'video' %}
                            <video controls class="video-size">
                                <source src="/upload/{{ content.file_path }}" type="audio/mpeg">
                            </video>
                            <hr class="mb-4">
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <div class="item-label"><strong>Información Técnica del Video<nav></nav></strong></div>
                                    <div class="item-data" style="margin-top: 15px;">
                                        {% if content.data.indice_v == 1 %}
                                            Video sin anomalías.
                                        {% else %}
                                            El video tiene una calidad baja o sospechosa.
                                        {% endif %}
                                    </div>

                                    {% if content.data.labels != None %}
                                        <hr class="mb-4">
                                        <div class="item-label"><strong>Palabras Clave<nav></nav></strong></div>
                                    {% endif %}
                                    <div class="item-data" style="margin-top: 15px;">
                                        {% if content.data.labels != None %}
                                            {% for label in content.data.labels %}
                                                <label class="label-word">{{ label }}</label>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    <div class="item-data" style="margin-top: 5px;">
                                        {% if content.data.paragraph_activities != '' %}
                                            <label class="label-word" style="padding: 15px;">{{ content.data.paragraph_activities }}</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- <br> -->
                            <hr class="mb-4">
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    <br>
                                    <div class="item-label"><strong>Información Técnica del Audio del Video<nav></nav></strong></div>
                                    <div class="item-data" style="margin-top: 15px;">
                                        {% if content.data.indice_a == 1 %}
                                            Audio sin anomalías.
                                        {% else %}
                                            El audio del video tiene características anormales.
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12 col-md-7">
                                    <!-- <br> -->
                                    <div class="item-label"><strong>Transcripción<nav></nav></strong></div>
                                    <div class="item-data" style="margin-top: 15px;">
                                        <label class="label-word" style="padding: 15px;">{{ content.data.text }}</label>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        </div><!--//col-->
                        <!-- <div class="col text-end">
                            <a class="btn-sm app-btn-secondary" href="#">Change</a>
                        </div> -->
                    </div><!--//row-->
                </div><!--//item-->
                {% endfor %}
            </div><!--//app-card-body-->

            <div class="app-card-footer p-4 mt-auto">
                <a class="btn app-btn-secondary" href="/new/list">Volver</a>
            </div><!--//app-card-footer-->

        </div><!--//app-card-->
    </div>
</div>

{% endblock %}
{% block js %}

<script src="{% static 'js/jquery.progressBarTimer.js' %}" type="text/javascript" charset="utf-8"></script>

<script>
    $(document).ready(function() {
        var status = "{{ new.status }}";
        var percentage = "{{ new.percentage }}";

        if (status == '0') {
            $('#progress').progressBarTimer({ 
                // autoStart: true,
                timeLimit: 15,
                smooth: true,
                label: { show: true, type: 'percent' },
                warningStyle: 'bg-info',
                completeStyle: 'bg-success',
                // onFinish: function() { alert('That\'s all folks'); }
            });
            $('#progress').progressBarTimer().start();
            setTimeout(() => {
                $('#progress').progressBarTimer().stop();
            }, 2000);

            setInterval(() => {
                $.ajax({
                    type: "GET",
                    url: "/new/detail/status/{{ new.id }}/",
                    success: function (data) {
                        console.log(data);
                        if(data['message'] == "OK" && data['status'] != 0) {
                            $('#progress').progressBarTimer().stop();
                            $('#progress').progressBarTimer().finish();
                            setTimeout(() => {
                                window.location.reload();
                            }, 3000);
                        } else {
                            $('#progress').progressBarTimer().start();
                            setTimeout(() => {
                                $('#progress').progressBarTimer().stop();
                            }, 2000);
                        }
                    }
                });
            }, 30000);
        } else {
            if (percentage == '0') {
                $('#app-header-content').css("border-bottom", "3px solid red");
            } else {
                $('#app-header-content').css("border-bottom", "3px solid #15a362");
            }
        }
    });
</script>
{% endblock %}